@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

body {
    /* background-color: #f0f4e3; */
    background-color: #faf5e4;
}

header {
    background-color: #6b8e23;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-family: 'Lexend', sans-serif;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 1rem;
    transition: transform 0.2s ease;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s ease, text-decoration 0.2s ease;
}

li a:hover {
    text-decoration: underline;
    transform: scale(1.5);
}