@import url('https://fonts.googleapis.com/css?family=Lexend&effect=outline');

/* Generell styling */
* {
    margin: 0;
}

body {
    background-color: #faf5e4;
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header och titel */

header {
    background-color: #6b8e23;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Navbar + länkar styling */

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 1rem;
    transition: transform 0.25s ease;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    transition: transform 0.25s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    transform: scale(1.25);
}

/* Main body */

main {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 3rem;
}

/* Footer + länkar */

footer {
    background-color: #252525;
    color: white;
    text-align: center; 
    width: 100%;
}

footer p {
    margin: 0.75rem 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Custom klasser */

/* Centrera element på en rad */
.content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Bild och text lådor */

.image-container, .text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    display: inline-block;
    border-radius: 1rem;
    max-width: 25rem;
}

.text-container {
    font-size: x-large;
    padding: 0 2rem;
    text-align: left;
}

/* Stapla bild över text på telefoner*/
@media (max-width: 768px) {
    .content-row {
        flex-direction: column;
    }

    /* Gör bilden rund och ger en margin mellan text och bild */
    .image-container img {
        border-radius: 50%;
        max-width: 10rem;
        margin-bottom: 1rem;
    }

    .text-container {
        text-align: left; /* Center the text below the image */
        font-size: medium;
    }
}
